<form class="form-horizontal" autocomplete="off" #createProjeForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewUser' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <!-- <abp-modal-header [title]="'Yeni Proje Ekle' | localize"></abp-modal-header> -->
    <div class="modal-body">
        <tabset>
            <tab [heading]="'ProjeDetails' | localize" class="pt-3 px-2">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Proje Adı" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="projeAdi" id="projeAdi"
                            [(ngModel)]="newProje.projeAdi" #developerAdiModel="ngModel" required maxlength="32">
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Açıklama" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="description" id="description"
                            [(ngModel)]="newProje.description" #descriptionModel="ngModel" required maxlength="32">
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Musteri" | localize }}
                    </label>
                    <div class="col-md-9">

                        <ng-select 
                         [(ngModel)]="newProje.musteriId" name="something"
                            [items]="listMusteri |async" bindLabel="musteriAdi" autofocus bindValue="musteriId"
                            [(ngModel)]="newProje.musteriId" #userIdModel="ngModel">
                        </ng-select>

                    </div>
                </div>
            </tab>
        </tabset>
        <abp-modal-footer [cancelDisabled]="saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
    </div>
</form>