
<form class="form-horizontal" autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header
    [title]="'Proje Durum Ekle' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
    <div class="modal-body">
        <tabset>
            <tab [heading]="'Görev Detay' | localize" class="pt-3 px-2">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="gorevTanimi">
                        {{ "Durum Adı " | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="durumadi" id="durumadi" [(ngModel)]="newprojedurum.projeDurumu"
                        #gorevTanimiModel="ngModel" required maxlength="32">
                    </div>
                </div>
                
            </tab>
                
        </tabset>
    </div>
    <abp-modal-footer
    [cancelDisabled]="saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
